<div class="card-body p-4">
    <form method="post" [formGroup]="registerForm">
      <p class="text-muted"> {{val1}} </p>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-pencil"></i></span>
        </div>
        <input class="form-control" type="text" name="Title" placeholder="Title" [(ngModel)]="taskToUpdate.Title" formControlName="Title">
      </div>
      <div class="alert alert-danger col-md-6" *ngIf="Title.errors && Title.touched">
        <div *ngIf="Title.errors.required">This field is required</div>
        <div *ngIf="Title.errors.minlength">Your title should have at leaset two charcters</div>
      </div>  

      <div class="input-group col-md-12 form-group role">
        <tr class="label">Event:</tr>
        <tr >
          <td><select autocomplete="on" class="form-control " style="width:100% " 
              name="event"
              [(ngModel)]="taskToUpdate.IdEvent"
              formControlName="IdEvent">
              <option selected disabled >Event</option>
                <option *ngFor="let a of listEvents" [value]="a._id">{{a.Title}}</option>  
          </select></td>
      </tr>
    </div>

      <div class="mb-3 mat-calander " >
        <tr class="label">Deadline:</tr>
        <mat-datepicker #picker class="datepicker"></mat-datepicker>
        <td >
        <mat-datepicker-toggle matSuffix [for]="picker" class="datepicker"></mat-datepicker-toggle>
        </td>
        <td style="width:133% ">
        <input class="form-control"  matInput [matDatepicker]="picker" [(ngModel)]="taskToUpdate.DL" formControlName="DL">
      </td></div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="cil-list-rich"></i></span>
          </div>
        <textarea class="form-control" type="text" name="Description" placeholder="Description" [(ngModel)]="taskToUpdate.Description" formControlName="Description"> </textarea>
        </div>
      <div class="alert alert-danger" *ngIf="Description.errors && Description.touched">
          <div *ngIf="Description.errors.required">This field is required</div>
          <div *ngIf="Description.errors.minLength">This field should contain at leaset 10 caracters</div>
      </div>
    
      <button type="button" class="btn btn-block btn-success" (click)="openModal(template)">{{val1}}</button>
    </form>
  </div>
 
   <ng-template #template>
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p>Do you want to confirm ?</p>
      <button type="button" class="btn btn-primary" (click)="update(taskToUpdate)" >Yes</button>
      <button type="button" class="btn btn-default" (click)="modalRef.hide()" >No</button>
    </div>
  </ng-template> 