.app-body{
    margin: auto;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
}

::ng-deep .background{
    background: #4BB543;
    color: black;
    .mat-simple-snackbar-action {
        color: black !important;
    }
  }