<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <form method="post" [formGroup]="resetPasswordForm">
                    <h1>Reset password</h1>
                    <p class="text-muted">Enter your new password</p>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input class="form-control" type="password" name="password" placeholder="Password" [(ngModel)]="member.Password" formControlName="Password" (change)="onPasswordChange()">
                    </div>
                    <div class="alert alert-danger" *ngIf="Password.errors && Password.touched">
                      <div *ngIf="Password.errors.required">This field is required</div>
                      <div *ngIf="Password.errors.pattern">Your password should have at leaset 6 charcters and must include upper and lower cases and numbers</div>
                  </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-user"></i></span>
                        </div>
                        <input class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password" [(ngModel)]="member.ConfirmPassword" formControlName="ConfirmPassword" (change)="onPasswordChange()">
                      </div>
                      <div class="alert alert-danger" *ngIf="ConfirmPassword.errors && ConfirmPassword.touched">
                        <div *ngIf="ConfirmPassword.errors.required">This field is required</div>
                        <div *ngIf="ConfirmPassword.errors.mismatch">Your ConfirmPassword password should be identical to your password</div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <button type="button" class="btn btn-primary px-4" (click)="resetPassword()">Change password</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  