<div mat-dialog-content>
    <form method="post" [formGroup]="registerForm">
      <p class="text-muted"> {{val1}} </p>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-user"></i></span>
        </div>
        <input class="form-control" type="text" name="name" placeholder="Name" [(ngModel)]="contactToUpdate.Name" formControlName="Name">
      </div>
    
      <div class="alert alert-danger" *ngIf="Name.errors && Name.touched">
        <div *ngIf="Name.errors.required">This field is required</div>
        <div *ngIf="Name.errors.minlength">Your name should have at leaset two charcters</div>
    </div>

    <div class="input-group select">
      <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select required
          name="type"
          [(ngModel)]="contactToUpdate.Type"
          formControlName="Type">
        <mat-option value="Person"> Person </mat-option>
        <mat-option value="Family"> Family </mat-option>
        <mat-option value="Charity"> Charity </mat-option>
        <mat-option value="volvo"> Other </mat-option>
      </mat-select>
    </mat-form-field>
    </div>   
  
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="cil-home"></i></span>
        </div>
        <input class="form-control" type="text" name="address" placeholder="Enter address" [(ngModel)]="contactToUpdate.Adress" formControlName="Adress">
      </div>
      <div class="alert alert-danger" *ngIf="Adress.errors && Adress.touched">
        <div *ngIf="Adress.errors.required">This field is required</div>
        <div *ngIf="Adress.errors.minlength">Your adress should have at leaset three charcters</div>
    </div>
  
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="cil-phone"></i></span>
      </div>
      <input class="form-control" type="number" name="phone" placeholder="Enter phone number" [(ngModel)]="contactToUpdate.Phone" formControlName="Phone">
    </div>
    <div class="alert alert-danger" *ngIf="Phone.errors && Phone.touched">
      <div *ngIf="Phone.errors.required">This field is required</div>
      <div *ngIf="Phone.errors.pattern">Your phone number should have exactly 8 numbers</div>
  </div>
  <div class="row mt-2">
    <div class="input-group mb-3 col-md-6">
      <div class="input-group-prepend">
        <span class="input-group-text">@</span>
      </div>
      <input class="form-control" type="email" name="email" placeholder="Email" [(ngModel)]="contactToUpdate.Email" formControlName="Email">
      </div>

    <div class="input-group mb-3 col-md-6">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="icon-user"></i></span>
      </div>
      <input class="form-control" type="text" name="Responsible" placeholder="Responsible name" [(ngModel)]="contactToUpdate.Responsible" formControlName="Responsible">
    </div>
  </div>

  <div class="row mt-2">
    <div class="alert alert-danger col-md-6" *ngIf="Email.errors && Email.touched">
      <div *ngIf="Email.errors.required">This field is required</div>
      <div *ngIf="Email.errors.pattern">Your email should have this form test@test.com</div>
  </div>

    <div class="alert alert-danger col-md-6" *ngIf="Responsible.errors && Responsible.touched">
      <div *ngIf="Responsible.errors.required">This field is required</div>
      <div *ngIf="Responsible.errors.minlength">This field should contain at leaset 2 characters</div>
  </div>
  </div>
    
      <button type="button" class="btn btn-block btn-success" (click)="openModal(template)">{{val1}}</button>
    </form>
 
  <ng-template #template>
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p>Do you want to confirm ?</p>
      <button type="button" class="btn btn-primary" (click)="update()" >Yes</button>
      <button type="button" class="btn btn-default" (click)="modalRef.hide()" >No</button>
    </div>
  </ng-template>
</div> 