<div class="d-flex flex-row">
    <button  class="ml-auto btn btn-light" (click)="onAdd(1)">+</button>
</div>
<div class="card">
  <h1>Tasks</h1>
  <div *ngFor = 'let e of listEvents' >
    <mat-accordion class="mb-3">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{e.Title}}
          </mat-panel-title>
          <mat-panel-description>
            <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-single-task [event]="e"></app-single-task>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div> 