<div mat-dialog-content class="all">
  <form method="post" [formGroup]="registerForm">
    <p class="text-muted"> {{val1}} </p>

    <div class="row mt-2">
      <div class="input-group mb-3 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-user"></i></span>
        </div>
        <input class="form-control" type="text" name="firstname" placeholder="First Name*" [(ngModel)]="memberToUpdate2.FirstName" formControlName="FirstName">
      </div>
      <div class="input-group mb-3 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-user"></i></span>
        </div>
        <input class="form-control" type="text" name="lastname" placeholder="Last Name*" [(ngModel)]="memberToUpdate2.LastName" formControlName="LastName">
      </div>
    </div>
  
      <div class="row mt-2">
      <div class="col-md-6 px-3">
      <div class="alert alert-danger" *ngIf="FirstName.errors && FirstName.touched">
        <div *ngIf="FirstName.errors.required">This field is required</div>
        <div *ngIf="FirstName.errors.minlength">Your first name should have at leaset two charcters</div>
    </div>
    </div>

      <div class="col-md-6 px-3">
      <div class="alert alert-danger" *ngIf="LastName.errors && LastName.touched">
        <div *ngIf="LastName.errors.required">This field is required</div>
        <div *ngIf="LastName.errors.minlength">Your last name should have at leaset two charcters</div>
      </div>
      </div>
    </div>

    <div class="mb-3">
      <ngx-dropzone (change)="onSelect($event)" [accept]="'image/png,image/jpeg,image/jpg'" >
        <ngx-dropzone-label>{{text}}</ngx-dropzone-label>
        <!-- <div *ngIf="update2">
          <img class="imgSelect" [src]="memberToUpdate2.Picture" [ngModelOptions]="{standalone: true}" />
        </div>  -->
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"  [removable]="true" (removed)="onRemove(f)" >
          <ngx-dropzone-label>({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
    </div>

    <div class="row mt-2">
      <div class="input-group mb-3 col-md-6" *ngIf="!testRole">
        <tr class="label">Association:</tr>
        <tr>
         <input style="width:125% "  disabled *ngIf="!testRole" class="form-control" type="text" name="lastname" [value]="association"> 
      </tr>
      </div>

    <div class="input-group col-md-6 form-group role" *ngIf="testRole">
        <tr class="label">Association:</tr>
        <tr >
          <td><select class="form-control " 
              name="etat"
              [(ngModel)]="memberToUpdate2.IdAssociation"
              formControlName="Association">
              <option selected disabled >Association</option>
                <option *ngFor="let a of listAssociations" [value]="a._id">{{a.Name}}</option>  
          </select></td>
      </tr>
    </div>
    
    <div class="input-group col-md-6">
      <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <mat-select required
          name="etat"
          [(ngModel)]="memberToUpdate2.Role_Association"
          formControlName="Role_Association">
        <mat-option value="Chair"> Chair </mat-option>
        <mat-option value="Vice Chair"> Vice Chair </mat-option>
        <mat-option value="Treasurer"> Treasurer </mat-option>
        <mat-option value="General Secretary"> General Secretary </mat-option>
      </mat-select>
    </mat-form-field>
    </div> 
  </div>

    <div class="mb-3 mat-calander">
        <mat-label>Date of birth:</mat-label>
        <div class="row mt-2">
        <mat-datepicker-toggle matSuffix [for]="picker" class="col-md-2"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <input class="form-control col-md-6"  matInput [matDatepicker]="picker" [(ngModel)]="memberToUpdate2.DOB" formControlName="DOB">
      </div>
    </div>

    <div class="row mt-2">
    <div class="input-group mb-3 col-md-6">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="cil-home"></i></span>
      </div>
      <input class="form-control" type="text" name="address" placeholder="Address*" [(ngModel)]="memberToUpdate2.Adress" formControlName="Adress">
    </div>
    <div class="input-group mb-3 col-md-6">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="cil-phone"></i></span>
    </div>
    <input class="form-control" type="number" name="phone" placeholder="Phone number*" [(ngModel)]="memberToUpdate2.Phone" formControlName="Phone">
  </div>
    </div>
  
  <div class="row mt-2">
  <div class="col-md-6 px-3">
  <div class="alert alert-danger " *ngIf="Adress.errors && Adress.touched">
    <div *ngIf="Adress.errors.required">This field is required</div>
    <div *ngIf="Adress.errors.minlength">Your adress should have at leaset three charcters</div>
  </div>
  </div>

  <div class="col-md-6 px-3">
  <div class="alert alert-danger " *ngIf="Phone.errors && Phone.touched">
    <div *ngIf="Phone.errors.required">This field is required</div>
    <div *ngIf="Phone.errors.pattern">Your phone number should have exactly 8 numbers</div>
  </div>
  </div>
  </div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">@</span>
  </div>
  <input class="form-control" type="email" name="email" placeholder="Email Address*" [(ngModel)]="memberToUpdate2.Email" formControlName="Email">
  </div>
<div class="alert alert-danger" *ngIf="Email.errors && Email.touched">
    <div *ngIf="Email.errors.required">This field is required</div>
    <div *ngIf="Email.errors.pattern">Your email should have this form test@test.com</div>
</div>

<div class="input-group mb-3" *ngIf="action1">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="icon-lock"></i></span>
    </div>
    <input class="form-control" type="password" name="Password" placeholder="Password*" [(ngModel)]="memberToUpdate2.Password" formControlName="Password" (change)="onPasswordChange()">
  </div>
  <div class="alert alert-danger" *ngIf="Password.errors && Password.touched">
    <div *ngIf="Password.errors.required">This field is required</div>
    <div *ngIf="Password.errors.pattern">Your password should have at leaset 6 charcters and must include upper and lower cases and numbers</div>
</div>

<div class="input-group mb-4" *ngIf="action1">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="icon-lock"></i></span>
    </div>
    <input class="form-control" type="password" name="ConfirmPassword" placeholder="ConfirmPassword*" [(ngModel)]="memberToUpdate2.ConfirmPassword" formControlName="ConfirmPassword" (change)="onPasswordChange()">
</div>
<div class="alert alert-danger" *ngIf="ConfirmPassword.errors && ConfirmPassword.touched">
    <div *ngIf="ConfirmPassword.errors.required">This field is required</div>
    <div *ngIf="ConfirmPassword.errors.mismatch">Your ConfirmPassword password should be identical to your password</div>
</div>
  
    <button type="button" class="btn btn-block btn-success" (click)="openModal(template)">{{val1}}</button>
  </form>


<ng-template #template>
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p>Do you want to confirm ?</p>
    <button type="button" class="btn btn-primary" (click)="update()" >Yes</button>
    <button type="button" class="btn btn-default" (click)="modalRef.hide()" >No</button>
  </div>
</ng-template>
</div>
<mat-spinner *ngIf="loading"></mat-spinner>