.mat-spinner{
    position:absolute ;
    transform: translate(200%,-200%);
}

.all{
    position: relative;
}

.type{

    width: 1000% !important;
}

.imgSelect{
    width: 200px;
    height: 80px;
}
