.contain{
    background-color: white;
}

.picture{
    width: 100%;
    height: 100%;
}

.logo{
    width: 30%;
    height: 30%;
    margin-top: -49px;
    margin-right: 0px;
    margin-left: -29px;
    margin-bottom: 6px;
}