.mat-spinner{
    transform: translate(500%,300%);
}
.full{
    background-color: #fff;
    padding: 2%;
}

::ng-deep .background{
    background: #4BB543;
    color: black;
    .mat-simple-snackbar-action {
        color: black !important;
    }
}
