<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form method="post" [formGroup]="registerForm">
                <h4 class="mb-3" style="color: #20247b;"> Association registration </h4>
          
              <div class="row mt-2">
              <div class="input-group mb-3 col-md-6">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input class="form-control" type="text" name="name" placeholder="Name" [(ngModel)]="associationToUpdate.Name" formControlName="Name">
              </div>
                <div class="input-group mb-3 col-md-6">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input class="form-control" type="number" name="Siret_Number" placeholder="Siret_Number" [(ngModel)]="associationToUpdate.Siret_Number" formControlName="Siret_Number">
                </div>
              </div>
              
              <div class="row mt-2">
                <div class="col-md-6 px-3">
                  <div class="alert alert-danger" *ngIf="Name.errors && Name.touched">
                    <div *ngIf="Name.errors.required">This field is required</div>
                    <div *ngIf="Name.errors.minlength">Your name should have at leaset two charcters</div>
                  </div>
                </div>
                <div class="col-md-6 px-3">
                  <div class="alert alert-danger" *ngIf="Siret_Number.errors && Siret_Number.touched">
                    <div *ngIf="Siret_Number.errors.required">This field is required</div>
                    <div *ngIf="Siret_Number.errors.pattern">Your siret number should contain exactly 9 charcters</div>
                  </div>
                </div>
              </div>
          
              <div class="row mt-2">
                <div class="mb-3 mat-calander col-md-6" >
                  <div class="row mt-2">
                    <mat-datepicker-toggle matSuffix [for]="picker" class="col-md-3"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <input class="inputDatePicker form-control col-md-8" placeholder="   Foundation Date" matInput [matDatepicker]="picker" [(ngModel)]="associationToUpdate.Foundation_date" formControlName="Foundation_date">
                  </div>
                  </div>
            
                <div class="input-group col-md-6">
                  <mat-form-field appearance="fill">
                  <mat-label>Type</mat-label>
                  <mat-select required
                      name="type"
                      [(ngModel)]="associationToUpdate.Type"
                      formControlName="Type">
                    <mat-option value="Educationnal"> Educationnal </mat-option>
                    <mat-option value="Health"> Health </mat-option>
                    <mat-option value="Environmental"> Environmental </mat-option>
                    <mat-option value="Animal"> Animal </mat-option>
                    <mat-option value="Art and Culture"> Art and Culture </mat-option>
                    <mat-option value="International NGOs"> International NGOs </mat-option>
                    <mat-option value="volvo"> Other </mat-option>
                  </mat-select>
                  </mat-form-field>
                </div>   
              </div>
            
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="cil-home"></i></span>
                </div>
                  <input class="form-control" type="text" name="address" placeholder="Enter your address" [(ngModel)]="associationToUpdate.Adress" formControlName="Adress">
              </div>
              <div class="alert alert-danger" *ngIf="Adress.errors && Adress.touched">
                <div *ngIf="Adress.errors.required">This field is required</div>
                <div *ngIf="Adress.errors.minlength">Your adress should have at leaset three charcters</div>
              </div>
            
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="cil-phone"></i></span>
                </div>
                <input class="form-control" type="number" name="phone" placeholder="Enter your phone number" [(ngModel)]="associationToUpdate.Phone" formControlName="Phone">
              </div>
              <div class="alert alert-danger" *ngIf="Phone.errors && Phone.touched">
                <div *ngIf="Phone.errors.required">This field is required</div>
                <div *ngIf="Phone.errors.pattern">Your phone number should have exactly 8 numbers</div>
              </div>
          
              <div class="row mt-2">
                <div class="input-group mb-3 col-md-6">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input class="form-control" type="email" name="email" placeholder="Association email" [(ngModel)]="associationToUpdate.Email" formControlName="Email">
                </div>
          
                <div class="input-group mb-3 col-md-6">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input class="form-control" type="text" name="Responsible" placeholder="Responsible email" [(ngModel)]="associationToUpdate.Responsible" formControlName="Responsible">
                </div>
              </div>
          
              <div class="row mt-2">
                <div class="col-md-6 px-3">
                <div class="alert alert-danger" *ngIf="Email.errors && Email.touched">
                  <div *ngIf="Email.errors.required">This field is required</div>
                  <div *ngIf="Email.errors.pattern">Your email should have this form test@test.com</div>
                </div>
              </div>
          
              <div class="col-md-6 px-3">
                <div class="alert alert-danger" *ngIf="Responsible.errors && Responsible.touched">
                  <div *ngIf="Responsible.errors.required">This field is required</div>
                  <div *ngIf="Responsible.errors.pattern">This email should have this form test@test.com</div>
              </div>
              </div>
              </div>
              
              <button type="button" class="btn btn-block btn-success" (click)="openModal(template)">Send request</button>
              </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </main>
</div>

<ng-template #template>
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p>Do you want to confirm ?</p>
    <button type="button" class="btn btn-primary" (click)="save()" >Yes</button>
    <button type="button" class="btn btn-default" (click)="modalRef.hide()" >No</button>
  </div>
</ng-template>