<div class="container">
    <button class="btn btn-primary add mb-3 ml-5" (click)="onAdd(1)"><i class="cil-user-plus"></i> Add member</button>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1"> Picture </div>
        <div class="col col-1"> First name </div>
        <div class="col col-1"> Last name </div>
        <div class="col col-2"> Date of birth </div>
        <div class="col col-2"> Email </div>
        <div class="col col-1"> Phone </div>
        <div class="col col-1"> Role </div>
        <div class="col col-2"> Actions </div>
      </li>
      <div *ngFor="let m of listComplete">
        <li class="table-row">
          <div class="col col-1"><img class="img-avatar" src="{{m.Picture}}"/></div>
            <div class="col col-1" data-label="Job Id">{{m.FirstName}}</div>
            <div class="col col-1" data-label="Customer Name">{{m.LastName}}</div>
            <div class="col col-2" data-label="Amount">{{m.DOB | date:'fullDate'}}</div>
            <div class="col col-2" data-label="Amount">{{m.Email}}</div>
            <div class="col col-1" data-label="Payment Status">{{m.Phone}}</div>
            <div class="col col-1" data-label="Payment Status">{{m.Role_Association}}</div>
            <div class="col col-2" data-label="Payment Status"><button class="btn btn-warning mr-3" (click)="onUpdate(m)"><i class="icon-pencil"></i></button> <button class="btn btn-danger" (click)="deletMember(m)"><i class="icon-trash"></i></button></div>
        </li>
      </div>
    </ul>
  </div>